{% extends 'base.html' %}
{% block title %}Insert new plan{% endblock %}
{% block body %}
<div class="form-container">
  <h2>Insert New Plan</h2>
  <form id="insert-form" method="post" action="{% url 'insert' %}" class="mb-3">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    {% comment %} <input type="number" id="id" name="id" class="form-input" placeholder="Enter Row ID number" required> {% endcomment %}
    <input type="text" id="first_name" name="first_name" class="form-input" placeholder="Enter First Name" required>
    <input type="text" id="last_name" name="last_name" class="form-input" placeholder="Enter Last Name" required>
    <button type="submit" class="form-submit">Insert</button>
  </form>
</div>
{% endblock %}