{% extends 'base.html' %}
{% block title %}Insert new plan{% endblock %}
{% block body %}
<div class="form-container">
  <h2>Insert New Plan</h2>
  <form id="insert-form" method="post" action="{% url 'insert' %}" class="mb-3">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    <input type="text" id="plan_date" name="plan_date" class="form-input" placeholder="Enter Plan Date (YYYY-MM-DD)" required>
    <input type="text" id="project" name="project" class="form-input" placeholder="Enter Project" required>
    <input type="text" id="group_level" name="group_level" class="form-input" placeholder="Enter Group Level" required>
    <input type="text" id="pn" name="pn" class="form-input" placeholder="Enter PN" required>
    <input type="number" id="sum_in_qty" name="sum_in_qty" class="form-input" placeholder="Enter Sum In Quantity">
    <input type="number" id="d_plan_qty" name="d_plan_qty" class="form-input" placeholder="Enter D Plan Quantity" required>
    <input type="number" id="n_plan_qty" name="n_plan_qty" class="form-input" placeholder="Enter N Plan Quantity" required>
    <input type="number" id="plan_qty" name="plan_qty" class="form-input" placeholder="Enter Plan Quantity" required>
    <input type="number" id="actual_qty" name="actual_qty" class="form-input" placeholder="Enter Actual Quantity" required>
    <input type="text" id="finish_rate" name="finish_rate" class="form-input" placeholder="Enter Finish Rate (0.00 - 100.00)" required>
    <input type="number" id="plan_stock_qty" name="plan_stock_qty" class="form-input" placeholder="Enter Plan Stock Quantity" required>
    <input type="text" id="factory" name="factory" class="form-input" placeholder="Enter Factory">
    <input type="number" id="_status" name="_status" class="form-input" placeholder="Enter Status" required>
    <input type="text" id="upload_midate" name="upload_midate" class="form-input" placeholder="Enter Upload Midate (YYYY-MM-DD)">
    <input type="text" id="remark1" name="remark1" class="form-input" placeholder="Enter Remark 1" required>
    <input type="text" id="remark2" name="remark2" class="form-input" placeholder="Enter Remark 2" required>
    <input type="text" id="remark3" name="remark3" class="form-input" placeholder="Enter Remark 3">
    <input type="text" id="cdate" name="cdate" class="form-input" placeholder="Enter Creation Date (YYYY-MM-DD)" required>
    <input type="text" id="cuser" name="cuser" class="form-input" placeholder="Enter Creation User" required>
    <input type="text" id="mdate" name="mdate" class="form-input" placeholder="Enter Modification Date (YYYY-MM-DD)">
    <input type="text" id="muser" name="muser" class="form-input" placeholder="Enter Modification User">
    <input type="text" id="toplace" name="toplace" class="form-input" placeholder="Enter To Place">
    <input type="text" id="project_item" name="project_item" class="form-input" placeholder="Enter Project Item">
    <input type="text" id="sscode" name="sscode" class="form-input" placeholder="Enter SS Code">
    <input type="text" id="d_plan_time" name="d_plan_time" class="form-input" placeholder="Enter D Plan Time">
    <input type="text" id="n_plan_time" name="n_plan_time" class="form-input" placeholder="Enter N Plan Time">
    <input type="text" id="d_hour_plan_qty" name="d_hour_plan_qty" class="form-input" placeholder="Enter D Hour Plan Quantity">
    <input type="text" id="n_hour_plan_qty" name="n_hour_plan_qty" class="form-input" placeholder="Enter N Hour Plan Quantity">
    <button type="submit" class="form-submit">Insert</button>
  </form>
</div>
{% endblock %}
