{% extends 'base.html' %}
{% block title %}Update{% endblock %}
{% block body %}
<div class="form-container">
  <h2>Update Plan</h2>
  <form id="update-form" method="post" action="{% url 'update' %}" class="mb-3">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    <input type="number" id="id" name="id" class="form-input" placeholder="Enter Row ID number" required>
    <input type="text" id="plan_date" name="plan_date" class="form-input" placeholder="Enter Plan Date (YYYY-MM-DD)" required>
    <input type="text" id="project" name="project" class="form-input" placeholder="Enter Project" required>
    <input type="text" id="group_level" name="group_level" class="form-input" placeholder="Enter Group Level" required>
    <input type="text" id="pn" name="pn" class="form-input" placeholder="Enter PN" required>
    <input type="number" id="sum_in_qty" name="sum_in_qty" class="form-input" placeholder="Enter Sum In Quantity">
    <input type="number" id="d_plan_qty" name="d_plan_qty" class="form-input" placeholder="Enter D Plan Quantity" required>
    <input type="number" id="n_plan_qty" name="n_plan_qty" class="form-input" placeholder="Enter N Plan Quantity" required>
    <input type="number" id="plan_qty" name="plan_qty" class="form-input" placeholder="Enter Plan Quantity" required>
    <input type="number" id="actual_qty" name="actual_qty" class="form-input" placeholder="Enter Actual Quantity" required>
    <input type="text" id="upload_midate" name="upload_midate" class="form-input" placeholder="Enter Upload Midate (YYYY-MM-DD)">
    <input type="text" id="cdate" name="cdate" class="form-input" placeholder="Enter Creation Date (YYYY-MM-DD)" required>
    <input type="text" id="mdate" name="mdate" class="form-input" placeholder="Enter Modification Date (YYYY-MM-DD)">
    <input type="text" id="sscode" name="sscode" class="form-input" placeholder="Enter SS Code">
    <input type="text" id="d_plan_time" name="d_plan_time" class="form-input" placeholder="Enter D Plan Time">
    <input type="text" id="n_plan_time" name="n_plan_time" class="form-input" placeholder="Enter N Plan Time">
    <button type="submit" class="form-submit">Update</button>
  </form>
</div>
{% endblock %}