{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="navbar">
    <h2>Welcome, <span id="username">Username</span></h2>
    <div class="menu-item" id="insert-plan">Insert New Plan</div>
    <div class="menu-item" id="update-plan">Update Plan</div>
    <div class="menu-item" id="show-plan">Show Plan</div>
</div>
{% block body %}

{% endblock%}
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
